{{- $section3 := .Site.Params.section3 }}
{{- $title    := index $section3 "title" }}
{{- $subtitle := index $section3 "subtitle" }}
{{- $clients  := index $section3 "clients" }}
<section class="section is-medium section-secondary" id="section3">
  <div class="container">

    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 light-text is-spaced">{{ $title }}</h2>
    </div>

    <div class="content-wrapper">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          <div class="feature-card-narrow-short-2 has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-text">
              <strong>Univerzalni paket</strong>
              <ul>
                <li>blokovi za pisanje</li>
                <li>označivač stranice/bookmark</li>
                <li>ukrasni anđeo</li>
                <li>drveni ukras</li>
                <li>magnet</li>
                <li>torbica</li>
                <li>pernica</li>
                <li>kozmetička torbica</li>
                <li>privjesak za ključeve</li>
                <li>narukvica</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-4 has-text-centered">
          <img class="pushed-image" src="images/logos/clients/univerzalni.jpg" style="display: block; margin: 0 auto;">
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          <div class="feature-card-narrow-short-2 has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-text">
              <strong>Tekstilni paket</strong>
              <ul>
                <li>šešir</li>
                <li>rokovnik</li>
                <li>torbica</li>
                <li>scrunchie/gumica za kosu</li>
                <li>novčanik za kovanice</li>
                <li>pernica</li>
                <li>kozmetička torbica</li>
                <li>pregača</li>
                <li>torbica za vrećice za pse</li>
                <li>ukras za maramu</li>
                <li>privjesak za ključeve</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <img class="pushed-image" src="images/logos/clients/tekstilni.jpg">
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          <div class="feature-card-narrow-short-1 has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-text">
              <strong>Kozmetički paket</strong>
              <ul>
                <li>sapuni</li>
                <li>miris za ormar</li>
                <li>sjemene kuglice</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <img class="pushed-image" src="images/logos/clients/kozmetika.jpg">
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-centered is-vcentered">
        <div class="column is-6">
          <div class="feature-card-narrow-short-1 has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-text">
              <strong>Keramički paket</strong>
              <ul>
                <li>ukrasno keramičko zvono</li>
                <li>staklena boca</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <img class="pushed-image" src="images/logos/clients/keramika.jpg">
        </div>
      </div>
    </div>

    <div class="content-wrapper">
      <div class="columns is-centered is-vcentered">
        <div class="column is-5">
          <img class="pushed-image" src="images/logos/clients/kutija.jpg">
        </div>
        <div class="column is-5">
          <img class="pushed-image" src="images/logos/clients/kutije.jpg">
        </div>
      </div>
    </div>

<div class="content-wrapper">
  <div class="columns is-centered is-vcentered">
    <div class="column is-8">
      <h1 class="title is-4 has-text-centered" style="color: white;">CZOO Dubrava</h1>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/5SyWB3nIE_o?modestbranding=1&rel=0" title="CZOO Dubrava" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>    
    <style>
      .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
      }
      .video-container video,
      .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>

<div class="content-wrapper">
  <div class="columns is-centered is-vcentered">
    <div class="column is-8">
      <h1 class="title is-4 has-text-centered" style="color: white;">CZOO Dubrava</h1>
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/EuJRjvgn2Zw?modestbranding=1&rel=0" title="CZOO Dubrava" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<style>
  .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
  </div>
</section>