{{- $section5 := .Site.Params.section5 }}
{{- $title    := index $section5 "title" }}
{{- $subtitle := index $section5 "subtitle" }}
{{- $tiles    := index $section5 "tiles" }}
{{- $image    := index $section5 "image" }}
<section class="section section-feature-grey is-medium" id="section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2">{{ $title }}</h2>
      <div class="divider is-centered"></div>
      
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-one-third">
          <div class="feature-card has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h3 class="title is-4 is-flex is-align-items-center">
              <!-- Wrapper controls the exact size -->
              <span>CZOO Zagorska</span>
              <figure class="image is-32x32">
                <img class="partner-logo" src="/images/logos/clients/czoo_zagorska_logo.svg" alt="CZOO logo">
              </figure>
            </h3>
            </div>
            <div class="card-text">
              <br>
              Strukovna škola u Zagrebu obrazuje mlade s teškoćama u razvoju i pruža podršku i nakon školovanja. Upisuju je učenici koji su završili osnovnu školu po prilagođenom ili posebnom programu. Škola nudi obrazovanje za pomoćna zanimanja (autolakirer, autolimar, cvjećar, kartonažer, instalater klimatizacije i grijanja, knjigoveža, soboslikar/ličilac, vodoinstalater, vrtlar, kuhar i slastičar i konobar) i potiče razvoj praktičnih vještina te osobnih sposobnosti uz kontinuiranu podršku stručnog tima.
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="feature-card has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h3 class="title is-4 is-flex is-align-items-center">
              <!-- Wrapper controls the exact size -->
              <span>CZOO Dubrava</span>
              <figure class="image is-32x32">
                <img class="partner-logo" src="/images/logos/clients/czoo_dubrava_logo.svg" alt="CZOO logo">
              </figure>
            </h3>
            </div>
            <div class="card-text">
              <br>
              Centar Dubrava pruža obrazovanje i podršku mladima s teškoćama u razvoju. Srednjoškolski programi nude prilagođene strukovne i obrtničke smjerove: pomoćni administrator/ica, pomoćni grafičar za unos teksta, pomoćni grafički radnik/ica tiska, pomoćni krojač/ica i pomoćni galanterist/ica. Programi kombiniraju teorijsku nastavu s praktičnim radom u radionicama, omogućujući učenicima stjecanje praktičnih i radnih vještina za stvarno radno okruženje.
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="feature-card has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h3 class="title is-4 is-flex is-align-items-center">
              <!-- Wrapper controls the exact size -->
              <span>Centar za autizam</span>
              <figure class="image is-32x32">
                <img class="partner-logo" src="/images/logos/clients/cat_logo.svg" alt="CZOO logo">
              </figure>
            </h3>
            </div>
            <div class="card-text">
              <br>
              Centar za autizam Zagreb je odgojno-obrazovna ustanova koja pruža podršku djeci, mladima i odraslima s poremećajima iz spektra autizma i srodnim razvojnim teškoćama. Provode se prilagođeni programi usmjereni na razvoj praktičnih, radnih i socijalnih vještina, s posebnim naglaskom na stjecanje kompetencija primjenjivih u stvarnom radnom okruženju.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
      <div class="columns is-centered">
        <div class="column is-one-third">
          <div class="feature-card has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h3 class="title is-4 is-flex is-align-items-center">
              <!-- Wrapper controls the exact size -->
              <span>TISKARA MACAN</span>
              <figure class="image is-32x32">
                <img class="partner-logo" src="/images/logos/clients/macan_logo.svg" alt="CZOO logo">
              </figure>
            </h3>
            </div>
            <div class="card-text">
              <br>
              Macan Atelier zagrebačka je tiskara koja nudi kompletnu uslugu tiska – od ideje i dizajna do gotovog proizvoda. Od 2021. godine tiskara nosi status integrativne radionice, zapošljava veliki broj osoba s invaliditetom i aktivno promiče inkluzivno radno okruženje. Više od 70 % zaposlenika čine osobe s invaliditetom, a tiskara se može pohvaliti i visokim udjelom žena na rukovodećim pozicijama. Macan predstavlja primjer društveno odgovornog poslovanja u grafičkoj industriji.
            </div>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="feature-card has-text-left revealOnScroll delay-1" data-animation="fadeInLeft">
            <div class="card-title">
              <h3 class="title is-4 is-flex is-align-items-center">
              <!-- Wrapper controls the exact size -->
              <span>EDUREHA</span>
              <figure class="image is-32x32">
                <img class="partner-logo" src="/images/logos/clients/edureha_logo.svg" alt="CZOO logo">
              </figure>
            </h3>
            </div>
            <div class="card-text">
              <br>
              Udruga studenata edukacijske rehabilitacije – EDUREHA okuplja studente Edukacijsko-rehabilitacijskog fakulteta Sveučilišta u Zagrebu. Uz zaštitu prava studenata i unapređenje kvalitete studija, Udruga aktivno promiče volonterstvo, suradnju sa stručnjacima te veću prepoznatljivost struke. Svojim aktivnostima podržava projekte usmjerene na osnaživanje i uključivanje djece s teškoćama u razvoju i osoba s invaliditetom, čime doprinosi stvaranju inkluzivnijeg društva.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>